/* Fade in-out */
.overlay-details{
  @apply left-0;
}

.overlay-desc p{
  @apply mb-0 m-0 font-light;
}

.slideLeft{
  transform: translateX(-400%);
  @apply opacity-0 w-0; 
}

.slideRight{
  transform: translateX(400%);
  @apply opacity-0 w-0; 
}

.slideLeft .overlay-details, 
.slideRight .overlay-details{
  @apply opacity-0 hidden;
}

/* slide-bounce */
.slide-bounce--enter {
  opacity: 0;
  transform: scale3d(2, 0.5, 1) translate3d(400px, 0, 0);
}

.slide-bounce-enter-to { transform: scale3d(1, 1, 1); }

.slide-bounce-enter-active,
.slide-bounce-leave-active { transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.slide-bounce-leave { transform: scale3d(1, 1, 1); }

.slide-bounce-leave-to {
  opacity: 0;
  transform: scale3d(2, 0.5, 1) translate3d(-400px, 0, 0);
}
