@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

#app{
  @apply relative overflow-x-hidden min-h-screen text-white;
  background: rgb(17,17,17);
  background: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(19,51,80,1) 30%, rgba(22,34,45,1) 80%, rgba(17,17,17,1) 100%);
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-normal mb-2;
}

h1 {
  @apply text-3xl font-hairline;
}

h2 {
  @apply text-4xl;
}

.page-content h2{
  @apply text-3xl font-hairline column-span-all shadow-white px-5 bg-black bg-opacity-25 my-5 tracking-wide;
}

h3 {
  @apply text-xl uppercase tracking-widest font-semibold;
}

h4 {
  @apply text-xl;
}

.site-content p {
  @apply mb-5;
}

.page-content p {
  @apply opacity-85;
}

.loader .progress-bar {
  @apply bg-red-500;
}

a {
  @apply text-blue-600;
}

a:hover{
  @apply text-green-600;
}

a:focus, input:focus{
  outline:none;
}
.activeMobileMenu{ 
  @apply block;
}

button:focus{
  outline: none;
}

button:disabled,
button[disabled]{
  @apply cursor-not-allowed opacity-25;
}

/** Navigation **/
header{
 @apply flex w-full min-h-16 items-center justify-between flex-wrap pb-3 bg-black bg-opacity-25 shadow-both-inner;
}

#header-menu__nav{
  @apply font-hairline absolute z-10 top-0 right-0 flex items-start justify-between whitespace-no-wrap;
}

header nav ul{
  @apply transition-all duration-300;
}

header nav ul li a{
  @apply block text-center text-white min-w-full px-2 py-1 border-b-2 border-blue-600 tracking-widest transition-all duration-300;
}

header nav ul li a:hover, 
header nav ul li a:active, 
header nav ul li a.active, 
header nav ul li a.router-link-exact-active{
  @apply border-gray-600 text-white rounded-t-lg shadow-inner bg-black bg-opacity-50;
}

header nav ul li ul{
  @apply transition-all duration-300;
}

header nav ul li ul li a{
  @apply block w-full text-right p-2 bg-black bg-opacity-75 tracking-widest transition-all duration-300;
}

header nav ul li ul li a:hover, 
header nav ul li ul li a:active, 
header nav ul li ul li a.router-link-exact-active{
  @apply rounded-none bg-opacity-90;
}

header nav ul.#wa-vuejs-header__menu{
}

header nav ul.wa-vuejs-header__menu-swipe {
  @apply fixed top-0 bottom-0 right-0 z-high items-center justify-center flex-col bg-black bg-opacity-75;
}

header nav ul.wa-vuejs-header__menu-swipe li {
  @apply w-full;
}

header nav ul.wa-vuejs-header__menu-swipe li a{
  @apply px-5 rounded-none bg-black bg-opacity-80;
}

header nav ul.wa-vuejs-header__menu-swipe li a:hover{
  @apply bg-black bg-opacity-100;
}

footer{
  @apply static bottom-0 w-full text-white flex flex-wrap items-center justify-between px-2 py-3 shadow-both-inner bg-black bg-opacity-25;
}
footer nav ul li a{
  @apply text-white tracking-wide font-hairline inline-block text-center px-3 border-transparent border-b-2;
}
footer nav ul li a:hover,
footer nav ul li a:active,
footer nav ul li a.router-link-exact-active{
  @apply border-blue-600 text-blue-600;
}
footer nav ul li ul{
  @apply flex flex-col items-end w-full border-l-0 border-t-2 border-b-0 border-gray-600;
}
footer nav ul li ul li{
  @apply w-full flex flex-row justify-end;
}
footer nav ul li ul li a{
  @apply text-right px-2 w-full rounded-none;
}
footer nav ul li ul li a:hover,
footer nav ul li ul li a:active,
footer nav ul li ul li a.router-link-exact-active{
}

#wa-vuejs__home-title{
  @apply tracking-widest hidden;
}

.wa-vuejs__post-card-title{
  @apply bg-black bg-opacity-90 absolute top-0 left-0 px-4 py-2 w-full text-blue-600 font-hairline text-xl;
}
.wa-vuejs__post-card-title:hover{
  @apply bg-opacity-100 text-green-600;  
}

.wa-vuejs__posts_li{
  @apply relative bg-black bg-opacity-25;
}

/** Range Input **/
input[type=range] {
  @apply w-auto bg-transparent line-height-8;
  width: 6rem;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  @apply bg-blue-800 bg-opacity-50 border-0 rounded-full w-full h-2 cursor-pointer; 
}
input[type=range]::-webkit-slider-thumb {
  @apply w-5 h-5 line-height-8 bg-blue-800 bg-opacity-90 border-2 border-black border-opacity-50 rounded-full cursor-pointer;
  margin-top: -0.35rem;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  @apply bg-gray-600;
}
input[type=range]::-moz-range-track {
  @apply bg-blue-800 bg-opacity-50 border-0 rounded-full w-full line-height-8 cursor-pointer;
}
input[type=range]::-moz-range-thumb {
  @apply w-5 h-5 line-height-8 bg-blue-800 bg-opacity-90 border-2 border-black border-opacity-50 rounded-full cursor-pointer;
  margin-top: -0.35rem;
}
input[type=range]::-ms-track {
  @apply bg-transparent border-transparent border-2 w-full line-height-8 cursor-pointer;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  @apply bg-blue-800 bg-opacity-50 border-0 rounded-full;
}
input[type=range]::-ms-fill-upper {
  @apply bg-blue-800 bg-opacity-50 border-0 rounded-full;
}
input[type=range]::-ms-thumb {
  @apply w-5 h-5 bg-blue-800 bg-opacity-90 border-2 border-black border-opacity-50 rounded-full cursor-pointer mt-0;
}
input[type=range]:focus::-ms-fill-lower {
  @apply bg-blue-800 bg-opacity-50;
}
input[type=range]:focus::-ms-fill-upper {
  @apply bg-blue-800;
}

