@variants responsive, hover, focus{
  /** Top Right Bottom Left **/
  .right-full{
    right:100%;
  }
  /** margin **/
  .ml-28{
    margin-left: 7rem;
  }
  .mr-28{
    margin-right: 7rem;
  }
  .mt-28{
    margin-top: 7rem;
  }
  .mb-28{
    margin-bottom: 7rem;
  }
  .m-28{
    margin: 7rem;
  }

  /** column count and gap span**/
  .column-span-none{
    column-span: none;
  }
  .column-span-all{
    column-span: all;
  }

  .column-count-0,
  .column-count-1{
    column-count: 1;
  }
  .column-count-2{
    column-count: 2;
  }
  .column-count-3{
    column-count: 3;
  }

  .column-gap-0{
     column-gap: 0;
  }
  .column-gap-1{
     column-gap: 0.25rem;
  }
  .column-gap-2{
     column-gap: 0.5rem;
  }
  .column-gap-3{
     column-gap: 0.75rem;
  }
  .column-gap-4{
     column-gap: 1rem;
  }
  .column-gap-4{
     column-gap: 1rem;
  }
  .column-gap-5{
     column-gap: 1.25rem;
  }
  .column-gap-6{
     column-gap: 1.5rem;
  }
  .column-gap-7{
     column-gap: 1.75rem;
  }
  .column-gap-8{
     column-gap: 2rem;
  }
  .column-gap-9{
     column-gap: 2.25rem;
  }
  .column-gap-10{
     column-gap: 2.5rem;
  }

  /** shadow **/
  .shadow-both-inner{
    box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  }
  .shadow-bottom-inner{
    box-shadow: inset 0px -4px 20px 2px rgba(0, 0, 0, 0.25);
  }
  .shadow-top-inner{
    box-shadow: inset 0px 4px 20px 2px rgba(0, 0, 0, 0.25);
  }
  .shadow-xs-white{
    box-shadow: 0 0 0 1px rgba(255,255,255, 0.25);
  }
  .shadow-sm-white{
    box-shadow: 0 1px 2px 0 rgba(255,255,255, 0.25);
  }
  .shadow-white{
    box-shadow: 0 5px 9px -1px rgba(255,255,255, 0.25), 0 1px 2px 0 rgba(255,255,255, 0.15);
  }
  .shadow-md-white{
    box-shadow: 0 8px 12px -2px rgba(255,255,255, 0.25), 0 2px 4px -1px rgba(255,255,255, 0.15);
  }
  .shadow-lg-white{
    box-shadow: 0 10px 15px -3px rgba(255,255,255, 0.5), 0 4px 6px -2px rgba(255,255,255, 0.15);
  }
  .shadow-xl-white{
    box-shadow: 0 20px 25px -5px rgba(255,255,255, 0.5), 0 10px 10px -5px rgba(255, 255, 255, 0.15);
  }
  .shadow-2xl-white{
    box-shadow: 0 25px 50px -12px rgba(255,255,255, 0.5);
  }

  /**   transform-translate **/
  .-transform-translate-x-0{
    transform: translateX(0%);
  } 
  .-transform-translate-x-full{
    transform: translateX(-100%);
  }
  .-transform-translate-x-screen{
    transform: translateX(-100vw);
  }
  .transform-translate-x-0{
    transform: translateX(0%);
  } 
  .transform-translate-x-full{
    transform: translateX(100%);
  }
  .transform-translate-x-screen{
    transform: translateX(100vw);
  }
  .-transform-translate-y-0{
    transform: translateY(-0);
  }
  .-transform-translate-y-full{
    transform: translateY(-100%);
  }
  .-transform-translate-y-screen{
    transform: translateY(-100vh);
  }
  .transform-translate-y-0{
    transform: translateY(0%);
  }
  .transform-translate-y-full{
    transform: translateY(100%);
  }
  .transform-translate-y-full{
    transform: translateY(100vh);
  }


  /** line Hight **/
  .line-height-3{
    line-height: 0.75rem;
  }
  .line-height-8{
    line-height: 2rem;
  }

  /** Rotate by Degrees **/
  .rotate-deg-0{
    transform: rotate(0deg);
  }
  .rotate-deg-15{
    transform: rotate(15deg);
  }
  .rotate-deg-30{
    transform: rotate(30deg);
  }
  .rotate-deg-45{
    transform: rotate(45deg);
  }
  .rotate-deg-60{
    transform: rotate(60deg);
  }
  .rotate-deg-75{
    transform: rotate(75deg);
  }
  .rotate-deg-90{
    transform: rotate(90deg);
  }
  .rotate-deg-105{
    transform: rotate(105deg);
  }
  .rotate-deg-120{
    transform: rotate(120deg);
  }
  .rotate-deg-135{
    transform: rotate(135deg);
  }
  .rotate-deg-150{
    transform: rotate(150deg);
  }
  .rotate-deg-165{
    transform: rotate(165deg);
  }
  .rotate-deg-180{
    transform: rotate(180deg);
  }
  .rotate-deg-195{
    transform: rotate(195deg);
  }
  .rotate-deg-210{
    transform: rotate(210deg);
  }
  .rotate-deg-225{
    transform: rotate(225deg);
  }
  .rotate-deg-240{
    transform: rotate(240deg);
  }
  .rotate-deg-255{
    transform: rotate(255deg);
  }
  .rotate-deg-270{
    transform: rotate(270deg);
  }
  .rotate-deg-285{
    transform: rotate(285deg);
  }
  .rotate-deg-300{
    transform: rotate(300deg);
  }
  .rotate-deg-315{
    transform: rotate(315deg);
  }
  .rotate-deg-330{
    transform: rotate(330deg);
  }
  .rotate-deg-345{
    transform: rotate(345deg);
  }

  .-rotate-deg-15{
    transform: rotate(-15deg);
  }
  .-rotate-deg-30{
    transform: rotate(-30deg);
  }
  .-rotate-deg-45{
    transform: rotate(-45deg);
  }
  .-rotate-deg-60{
    transform: rotate(-60deg);
  }
  .-rotate-deg-75{
    transform: rotate(-75deg);
  }
  .-rotate-deg-90{
    transform: rotate(-90deg);
  }
  .-rotate-deg-105{
    transform: rotate(-105deg);
  }
  .-rotate-deg-120{
    transform: rotate(-120deg);
  }
  .-rotate-deg-135{
    transform: rotate(-135deg);
  }
  .-rotate-deg-150{
    transform: rotate(-150deg);
  }
  .-rotate-deg-165{
    transform: rotate(-165deg);
  }
  .-rotate-deg-180{
    transform: rotate(-180deg);
  }
  .-rotate-deg-195{
    transform: rotate(-195deg);
  }
  .-rotate-deg-210{
    transform: rotate(-210deg);
  }
  .-rotate-deg-225{
    transform: rotate(-225deg);
  }
  .-rotate-deg-240{
    transform: rotate(-240deg);
  }
  .-rotate-deg-255{
    transform: rotate(-255deg);
  }
  .-rotate-deg-270{
    transform: rotate(-270deg);
  }
  .-rotate-deg-285{
    transform: rotate(-285deg);
  }
  .-rotate-deg-300{
    transform: rotate(-300deg);
  }
  .-rotate-deg-315{
    transform: rotate(-315deg);
  }
  .-rotate-deg-330{
    transform: rotate(-330deg);
  }
  .-rotate-deg-345{
    transform: rotate(-345deg);
  }
}

